<div class="container">
  <h1>rotas</h1>
  <br />
  <br />
  <a href="#" routerLink="/rotas/create" class="btn btn-primary">Nova Rota</a> &nbsp; <a href="#" routerLink="/rotas/calculate" class="btn btn-warning">Calcular Melhor Rota</a>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Origem</th>
        <th scope="col">Destino</th>
        <th scope="col">Valor</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rotas of rotass">
        <td>{{ rotas.origem }}</td>
        <td>{{ rotas.destino }}</td>
        <td>{{ rotas.valor }}</td>
        <td>
          <a href="#" [routerLink]="['/rotas/', rotas.id, 'view']" class="btn btn-info">Ver</a>
          <a href="#" [routerLink]="['/rotas/', rotas.id, 'edit']" class="btn btn-default">Alterar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>