<div class="container">
    <h1>Exibir Rota</h1>

    <a href="#" routerLink="/rotas/index" class="btn btn-primary">Back</a>
    <br />
    <br />
    <form [formGroup]="form"  >
    <div>
        <strong>ID:</strong>
        <p>{{ rotas.id }}</p>
    </div>

    <div>
        <strong>Origem:</strong>
        <p>{{ rotas.origem }}</p>
    </div>
    <div>
        <strong>Destino:</strong>
        <p>{{ rotas.destino }}</p>
    </div>
    <div>
        <strong>Valor:</strong>
        <p>{{ rotas.valor }}</p>
    </div>
    </form>
    <br />
</div>